body{
  margin: 0;
  text-align: center;
}
/** #ffe0bd
    #fbebdd
**/
.top-container{
  background-color: #ffead4;
  position:relative;
  padding-top: 100px;

}
.middle-container{
  background-color: #ffead4;
  padding-bottom: 40px;
}
.bottom-container{
  background-color: #403f3e;
  padding-top: 20px;
}

.profile{
  padding-top: 10px;
}


h1{
  margin: 50px auto 0 auto;
  font-family: 'Reenie Beanie', cursive;
  font-size: 5.625rem;
  color: #3a3129;

}
h2{
  font-size:2.5rem;
  font-weight:400;
  color: #3a3129;
  font-family: 'Raleway', sans-serif;
}


h3{
  font-size: 1.4em;
  color: #fa7d00;
  font-family: 'Raleway', sans-serif;
}

a{
  color: #fa7d00;
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.15em;
}

.picture{
  padding-top: 20px;
}

.skill-icon{
  width: 100px;
  height: 100px;
}
.skill-row:nth-child(even) img{
  float: left;
  margin-right: 30px;
}
.skill-row:nth-child(odd) img{
  float:right;
  margin-left: 30px;
}

.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro{
  text-decoration: underline;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row:nth-child(odd){
  text-align: right;
}

hr{
  width: 5%;
  border: #473e34 dotted 10px;
  border-top: none;
}

.skills-row p{
  padding-bottom: 0;
}
.footer-link{
  text-decoration: none;
  font-weight: 700;
}


.bottom-container a{
  margin: 0 8px;
  font-size: 1.1rem;
}

.middle-container p{
  padding-bottom: 30px;
}

.bottom-container p{
  padding: 0 0 10px 0;
  color: #efedec;
}

.btn{
  text-decoration: none;
  background-color: #fa7d00;
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.30);
  border: none;
  color: #fff;
}
.btn:hover{
  background-image: linear-gradient(to bottom right, #ffead4, #ffbc77);
  border: #fa7d00 2px solid;
  color: #3a3129;
}
